<ion-content [fullscreen]="true">
  <form>
    <section class="wrapper">
      <section>
        <div class="header">
          <p>
            <b>Saved Address</b>
          </p>
        </div>
        <div class="addressWrapper">
          <div class="address">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gray"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-map-pin-icon lucide-map-pin">
              <path
                d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
              <circle cx="12" cy="10" r="3" />
            </svg>
            <div>
              <p><b>Home</b></p>
              <p>925 S Chuagach St #APT 10, Alaska 99645</p>
            </div>
          </div>
          <input type="radio" checked>
        </div>
        <div class="addressWrapper">
          <div class="address">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gray"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-map-pin-icon lucide-map-pin">
              <path
                d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
              <circle cx="12" cy="10" r="3" />
            </svg>
            <div>
              <p><b>Office</b></p>
              <p>2438 6th Ave, Ketchikan, Alaska 9</p>
            </div>
          </div>
          <input type="radio">
        </div>
        <div class="addressWrapper">
          <div class="address">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gray"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-map-pin-icon lucide-map-pin">
              <path
                d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
              <circle cx="12" cy="10" r="3" />
            </svg>
            <div>
              <p><b>Apartment</b></p>
              <p>2551 Vista Dr #B301, Juneau, Alaspati</p>
            </div>
          </div>
          <input type="radio">
        </div>
        <div class="addressWrapper">
          <div class="address">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gray"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-map-pin-icon lucide-map-pin">
              <path
                d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
              <circle cx="12" cy="10" r="3" />
            </svg>
            <div>
              <p><b>Parents's House</b></p>
              <p>4821 Ridge Top Cir, Anchorage, Al</p>
            </div>
          </div>
          <input type="radio">
        </div>
        <button class="addAddressButton">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-plus-icon lucide-plus">
            <path d="M5 12h14" />
            <path d="M12 5v14" />
          </svg>
          <p>Add New Address</p>
        </button>
      </section>
    </section>
    <button class="applyButton">
      <p>Apply</p>
    </button>
  </form>
</ion-content>