<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/verification"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ionContent" [fullscreen]="true" fullscreen>
  <main>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" action="">
      <h1 class="title">Reset Password</h1>
      <p>Set the new password for your account so you can login and access all the features.</p>

      <div class="form-body">
        <div class="input-section">
          <ul>
            <li>
              <label for="">Password</label>
              <div class="inputWrapper" [ngStyle]="resetPasswordForm.get('password')?.valid && resetPasswordForm.get('password')?.touched 
                  ? {'border': '1px solid green'} 
                  : resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.errors 
                  ? {'border': '1px solid red'} 
                  : {'border': '1px solid #ccc'}">
                <input formControlName="password" [type]="showPassword ? 'text' : 'password'"
                  placeholder="Enter your password">
                <svg *ngIf="!showPassword" (click)="showPasswordStatus()" xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" viewBox="0 0 24 24" fill="none" stroke="gray" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" class="lucide lucide-eye-off-icon lucide-eye-off">
                  <path
                    d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49" />
                  <path d="M14.084 14.158a3 3 0 0 1-4.242-4.242" />
                  <path
                    d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143" />
                  <path d="m2 2 20 20" />
                </svg>
                <svg *ngIf="showPassword" (click)="showPasswordStatus()" xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" viewBox="0 0 24 24" fill="none" stroke="gray" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye">
                  <path
                    d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
                  <circle cx="12" cy="12" r="3" />
                </svg>
                <svg *ngIf="resetPasswordForm.get('password')?.valid && resetPasswordForm.get('password')?.touched"
                  style="margin-left: 5px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="green" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" class="lucide lucide-circle-check-icon lucide-circle-check">
                  <circle cx="12" cy="12" r="10" />
                  <path d="m9 12 2 2 4-4" />
                </svg>
              </div>
            </li>
            <li>
              <label for="">Confirm Password</label>
              <div class="inputWrapper" [ngStyle]="passwordsMatch() && resetPasswordForm.get('confirmPassword')?.touched
                  ? {'border': '1px solid green'} 
                  : resetPasswordForm.get('confirmPassword')?.touched && !passwordsMatch()
                  ? {'border': '1px solid red'} 
                  : {'border': '1px solid #ccc'}">
                <input formControlName="confirmPassword" [type]="showConfirmedPassword ? 'text' : 'password'"
                  placeholder="Confirm your password">
                <svg *ngIf="!showConfirmedPassword" (click)="showConfirmedPasswordStatus()"
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-eye-off-icon lucide-eye-off">
                  <path
                    d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49" />
                  <path d="M14.084 14.158a3 3 0 0 1-4.242-4.242" />
                  <path
                    d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143" />
                  <path d="m2 2 20 20" />
                </svg>
                <svg *ngIf="showConfirmedPassword" (click)="showConfirmedPasswordStatus()"
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-eye-icon lucide-eye">
                  <path
                    d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
                  <circle cx="12" cy="12" r="3" />
                </svg>
                <svg *ngIf="passwordsMatch() && resetPasswordForm.get('confirmPassword')?.touched"
                  style="margin-left: 5px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="green" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" class="lucide lucide-circle-check-icon lucide-circle-check">
                  <circle cx="12" cy="12" r="10" />
                  <path d="m9 12 2 2 4-4" />
                </svg>
              </div>
              <p class="passwordError" *ngIf="resetPasswordForm.get('confirmPassword')?.touched && !passwordsMatch()">
                Passwords do not match
              </p>
            </li>
          </ul>
        </div>
        <div class="button-section">
          <button (click)="setSuccessPopupStatus()" [disabled]="!isFormValid()" [ngClass]="isFormValid() ? 'button-enabled' : 'button-disabled'"
            type="submit">Continue</button>
        </div>
      </div>
    </form>
  </main>
</ion-content>

<section *ngIf="successPopupStatus" class="popupWrapper">
  <div class="popup">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="lucide lucide-circle-check-icon lucide-circle-check">
      <circle cx="12" cy="12" r="10" />
      <path d="m9 12 2 2 4-4" />
    </svg>
    <h3>Password Changed!</h3>
    <p>You can use your new password to login to your account</p>
    <button [routerLink]="['/signin']">Login</button>
  </div>
</section>