<ion-content [fullscreen]="true">
  <form action="">
    <section class="wrapper">
      <div class="header">
        <p>
          <b>Add Debit or Credit Card</b>
        </p>
      </div>
      <ul>
        <li>
          <label for="">Card Number</label>
          <input type="text" placeholder="Enter your card number">
        </li>
        <li>
          <div>
            <label for="">Expiry Date</label>
            <input type="text" placeholder="MM/YY">
          </div>
          <div>
            <label for="">Security Code</label>
            <input type="text" placeholder="CVC">
          </div>
        </li>
      </ul>
    </section>
    <button class="checkoutButton">
      <p>Apply</p>
    </button>
  </form>
</ion-content>