ion-content {
  --background: white;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  overflow-y: auto;
  background: white;
  padding: 10px 20px 120px 20px;
}

main svg {
  width: 35px;
  height: 35px;
  color: tomato;
  fill: tomato;
}

.product {
  position: relative;
  height: 200px;
  background-image: url("/assets/product.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.product > svg {
  position: absolute;
  right: 10px;
  background: white;
  padding: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.productInformation p {
  color: var(--primary);
}

.productInformation p:first-child {
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: bold;
}

.productInformation p:last-child {
  margin-top: 5px;
  color: #808080;
}

.productInformation p span {
  color: tomato;
}