* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ion-content {
  --background: white;
}

main {
  padding: 0 20px;
  color: var(--primary);
}

section {
  margin-top: 20px;
  padding-top: 0 20px 20px 20px;
}

section:first-child {
  margin-top: 0px;
  padding: 20px 0 0 0;
  border-top: 1px solid #ccc;
  display: flex;
  gap: 5px;
}

section:first-child > p:first-child {
  color: white;
  background: var(--primary);
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

section:first-child > p {
  color: var(--primary);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.searchWrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
}

.searchWrapper svg {
  width: 30px;
  height: 30px;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.searchBar svg {
  color: #ccc;
}

.searchBar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar > div > input {
  background: transparent;
  outline: none;
  border: none;
}

.faqCard {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.faqCard > div:first-child {
  display: flex;
  justify-content: space-between;
}

.faqCard > p {
  margin-top: 10px;
  color: #969696;
}

section:nth-child(4) > div > svg,
section:nth-child(5) > div > svg,
section:nth-child(6) > div > svg,
section:nth-child(7) > div > svg {
  rotate: 180deg;
}
