<ion-content [fullscreen]="true">
  <main>
    <section>
      <p>General</p>
      <p>Account</p>
      <p>Service</p>
      <p>Payment</p>
    </section>
    <section>
      <div class="searchBar">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-search-icon lucide-search">
            <path d="m21 21-4.34-4.34" />
            <circle cx="11" cy="11" r="8" />
          </svg>
          <input type="text" placeholder="Search for questions...">
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-mic-icon lucide-mic">
          <path d="M12 19v3" />
          <path d="M19 10v2a7 7 0 0 1-14 0v-2" />
          <rect x="9" y="2" width="6" height="13" rx="3" />
        </svg>
      </div>
    </section>
    <section class="faqCard">
      <div>
        <p>How do I make a purchase?</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-up-icon lucide-chevron-up">
          <path d="m18 15-6-6-6 6" />
        </svg>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ea delectus, quos cupiditate ex obcaecati sunt
        earum, quibusdam veniam accusantium laboriosam aspernatur cum velit quas facilis tempore. Ea a, laboriosam
        molestiae ab deserunt adipisci laborum voluptatibus explicabo cumque amet culpa, sapiente est id, eum et ad.
        Minima quae veritatis quia.</p>
    </section>
    <section class="faqCard">
      <div>
        <p>What payment methods are accepted?</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-up-icon lucide-chevron-up">
          <path d="m18 15-6-6-6 6" />
        </svg>
      </div>
    </section>
    <section class="faqCard">
      <div>
        <p>How do I track my orders?</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-up-icon lucide-chevron-up">
          <path d="m18 15-6-6-6 6" />
        </svg>
      </div>
    </section>
    <section class="faqCard">
      <div>
        <p>Can I cencel or return an order?</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-up-icon lucide-chevron-up">
          <path d="m18 15-6-6-6 6" />
        </svg>
      </div>
    </section>
    <section class="faqCard">
      <div>
        <p>How can I contact customer support for assistence?</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-up-icon lucide-chevron-up">
          <path d="m18 15-6-6-6 6" />
        </svg>
      </div>
    </section>
  </main>
</ion-content>