<ion-content [fullscreen]="true" scroll-y="false">
  <main>
    <section class="wrapper">
      <h1 class="title">Define yourself in your unique way.</h1>
    </section>
    <img src="assets/model.png" alt="">
  </main>
</ion-content>

<ion-footer [translucent]="true">
  <a [routerLink]="['/signup']">
    <p>
      Get Started
    </p>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="lucide lucide-arrow-right-icon lucide-arrow-right">
      <path d="M5 12h14" />
      <path d="m12 5 7 7-7 7" />
    </svg>
  </a>
</ion-footer>