<ion-content [fullscreen]="true">
  <main>
    <section class="mapWrapper">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d990.0766419069448!2d107.63213686863847!3d-6.973111881713162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d-6.973068!2d107.6316755!4m5!1s0x2e68e9adf177bf8d%3A0x437398556f9fa03!2sJl.%20Telekomunikasi%20No.%201%2C%20Bandung%20Terusan%20Buahbatu%20-%20Bojongsoang%2C%20Sukapura%2C%20Kec.%20Dayeuhkolot%2C%20Kabupaten%20Bandung%2C%20Jawa%20Barat%2040257!3m2!1d-6.9733626!2d107.63034599999999!5e0!3m2!1sid!2sid!4v1755254410164!5m2!1sid!2sid"
        width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <section class="addressWrapper">
      <div class="addressHeader">
        <h3><b>Address</b></h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-x-icon lucide-x">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </div>
      <form [formGroup]="newAddressForm" (ngSubmit)="onSubmit()" action="">
        <ul>
          <li>
            <label for="">Address Nickname</label>
            <input formControlName="addressNickname" type="text" placeholder="Enter your address nickname">
          </li>
          <li>
            <label for="">Full Address</label>
            <input formControlName="fullAddress" type="text" placeholder="Enter your full address">
            <div>
              <input type="checkbox">
              <p>Make this as default address</p>
            </div>
          </li>
          <li>
            <button [disabled]="!newAddressForm.valid"
              [ngClass]="newAddressForm.valid ? 'button-enabled' : 'button-disabled'" type="submit">Add</button>
          </li>
        </ul>
      </form>
    </section>
  </main>
</ion-content>