* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ion-content {
  --background: white;
}

main {
  color: var(--primary);
}

.addressWrapper {
  padding: 0 20px 20px 20px;
}

.addressHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

li {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

li:first-child > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

li:first-child > div > p {
  color: #ccc;
}

li:nth-child(2) > input {
  outline: none;
  color: var(--primary);
  background: transparent;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input::placeholder {
  color: #ccc;
}

li:nth-child(2) > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
  color: #ccc;
}

button {
  background: var(--primary);
  font-size: 1rem;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
