<ion-content [fullscreen]="true">
  <main>
    <section *ngFor="let item of cart; let i = index">
      <img [src]="item.thumbnail" alt="">
      <div>
        <div>
          <div>
            <p class="productName">{{ item.title }}</p>
            <p class="productSize">Qty: {{ item.quantity }}</p>
          </div>
          <svg (click)="removeFromCart(item.id)" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="tomato" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="lucide lucide-trash2-icon">
            <path d="M10 11v6" />
            <path d="M14 11v6" />
            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
            <path d="M3 6h18" />
            <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
          </svg>
        </div>

        <div>
          <div>
            <p class="productPrice">$ {{ item.price * item.quantity }}</p>
          </div>
          <div>
            <div (click)="decreaseQty(item.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14" />
              </svg>
            </div>

            <p>{{ item.quantity }}</p>

            <div (click)="increaseQty(item.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14" />
                <path d="M12 5v14" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div>
      <p>Sub-total</p>
      <p>$ {{ getSubTotal() }}</p>
    </div>
    <div>
      <p>Vat(%)</p>
      <p>$0.00</p>
    </div>
    <div>
      <p>Shipping fee</p>
      <p>$80</p>
    </div>
    <div class="totalWrapper">
      <p>Total</p>
      <p>$ {{ getSubTotal() + 80 }}</p>
    </div>

    <button>
      <p>Go To Checkout</p>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-arrow-right-icon">
        <path d="M5 12h14" />
        <path d="m12 5 7 7-7 7" />
      </svg>
    </button>
  </main>
</ion-content>