ion-header {
  --box-shadow: none;
  box-shadow: none;
}

.toolbar {
  --background: white;
  --color: var(--primary);
  --box-shadow: none;
  border-bottom: none;
  padding: 20px;
}

ion-title {
  font-size: 1.5rem;
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0 0 0;
}

.headerIcon {
  width: 30px;
  height: 30px;
}

ion-icon {
  --ionicon-stroke-width: 50px;
}