<ion-content [fullscreen]="true">
  <form>
    <section>
      <p>Today</p>
      <div>
        <div>
          <p>Hello, good morning.</p>
          <p>I am a Customer Service, is there anything I can help you with?</p>
          <p>10:41 pm</p>
        </div>
        <div>
          <p>Hi, I'm having problems with my order & payment</p>
          <p>Can you help me?</p>
          <p>10:50 pm</p>
        </div>
        <div>
          <p>Of course...</p>
          <p>Can you tell me the problem you are having? so I can help solve it</p>
          <p>10:51 pm</p>
        </div>
      </div>
    </section>
    <div class="searchBar">
      <div>
        <input type="text" placeholder="Write your message">
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-mic-icon lucide-mic">
        <path d="M12 19v3" />
        <path d="M19 10v2a7 7 0 0 1-14 0v-2" />
        <rect x="9" y="2" width="6" height="13" rx="3" />
      </svg>
    </div>
  </form>
</ion-content>