<ion-content [fullscreen]="true">
  <form>
    <section class="wrapper">
      <section>
        <div class="header">
          <p>
            <b>Saved Cards</b>
          </p>
        </div>
        <div class="noRekening">
          <div class="card-info">
            <div class="card-details">
              <p class="visa-logo">VISA</p>
              <p class="card-number">**** **** **** 2512</p>
              <div class="default-label">Default</div>
            </div>
          </div>
          <input type="radio">
        </div>
        <div class="noRekening">
          <div class="card-info">
            <div class="card-details">
              <p class="visa-logo">VISA</p>
              <p class="card-number">**** **** **** 2512</p>
              <div class="default-label">Default</div>
            </div>
          </div>
          <input type="radio">
        </div>
        <div class="noRekening">
          <div class="card-info">
            <div class="card-details">
              <p class="visa-logo">VISA</p>
              <p class="card-number">**** **** **** 2512</p>
              <div class="default-label">Default</div>
            </div>
          </div>
          <input type="radio">
        </div>
        <button class="addAddressButton">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-plus-icon lucide-plus">
            <path d="M5 12h14" />
            <path d="M12 5v14" />
          </svg>
          <p>Add New Card</p>
        </button>
      </section>
    </section>
    <button class="checkoutButton">
      <p>Apply</p>
    </button>
  </form>
</ion-content>