* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ion-content {
  --background: white;
}

main {
  padding: 20px;
}

.tabWrapper {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 5px;
  background: #ccc;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.tabWrapper > p:first-child {
  text-align: center;
  width: 100%;
  background: white;
  padding: 10px;
  color: var(--primary);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.tabWrapper > p {
  text-align: center;
  width: 100%;
  padding: 10px;
  color: var(--primary);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

section {
  margin-top: 20px;
  color: var(--primary);
  display: flex;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

section > img {
  width: 100px;
}

section > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section > div > div:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

section > div > div:first-child > small {
  background: #ccc;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

section > div > div:last-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section > div > div:last-child > p:first-child {
  font-weight: bold;
}

section > div > div:last-child > button {
  color: white;
  background: var(--primary);
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
