<ion-content [fullscreen]="true">
  <main>
    <div class="tabWrapper">
      <p>
        Ongoing
      </p>
      <p>Completed</p>
    </div>
    <section>
      <img src="assets/product.png" alt="">
      <div>
        <div>
          <div>
            <p><b>Regular Fit Slogan</b></p>
            <p>Size M</p>
          </div>
          <small>In Transit</small>
        </div>
        <div>
          <p>$1,190</p>
          <button>Track Order</button>
        </div>
      </div>
    </section>
    <section>
      <img src="assets/product.png" alt="">
      <div>
        <div>
          <div>
            <p><b>Regular Fit Slogan</b></p>
            <p>Size M</p>
          </div>
          <small>Picked</small>
        </div>
        <div>
          <p>$1,190</p>
          <button>Track Order</button>
        </div>
      </div>
    </section>
    <section>
      <img src="assets/product.png" alt="">
      <div>
        <div>
          <div>
            <p><b>Regular Fit Slogan</b></p>
            <p>Size M</p>
          </div>
          <small>In Transit</small>
        </div>
        <div>
          <p>$1,190</p>
          <button>Track Order</button>
        </div>
      </div>
    </section>
  </main>
</ion-content>