<ion-content [fullscreen]="true">
  <main>
    <section>
      <p>General Notifications</p>
      <div class="toggleWrapper">
        <div class="toggle"></div>
      </div>
    </section>
    <section>
      <p>Sound</p>
      <div class="toggleWrapper">
        <div class="toggle"></div>
      </div>
    </section>
    <section>
      <p>Vibrate</p>
      <div class="toggleWrapper">
        <div class="toggle"></div>
      </div>
    </section>
    <section>
      <p>Special Offers</p>
      <div class="toggleWrapper">
        <div class="toggle"></div>
      </div>
    </section>
    <section>
      <p>Promo & Discounts</p>
      <div class="toggleWrapper">
        <div class="toggle"></div>
      </div>
    </section>
    <section>
      <p>Payments</p>
      <div class="toggleWrapper">
        <div class="toggle"></div>
      </div>
    </section>
    <section>
      <p>Cashback</p>
      <div class="toggleWrapper">
        <div class="toggle"></div>
      </div>
    </section>
    <section>
      <p>Apps Update</p>
      <div class="toggleWrapper">
        <div class="toggle"></div>
      </div>
    </section>
    <section>
      <p>New Service Available</p>
      <div class="toggleWrapper">
        <div class="toggle"></div>
      </div>
    </section>
    <section>
      <p>New Tips Available</p>
      <div class="toggleWrapper">
        <div class="toggle"></div>
      </div>
    </section>
  </main>
</ion-content>