<div *ngIf="showTopHeader">
  <ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
      <div class="toolbar-content">
        <ion-icon *ngIf="showBackButton" class="headerIcon" name="arrow-back-outline" (click)="onBackClick()">
        </ion-icon>
        <div *ngIf="!showBackButton" class="headerIcon"></div>

        <ion-title style="text-align: center;">
          <b>{{ title }}</b>
        </ion-title>

        <ion-icon *ngIf="showRightIcon" class="headerIcon" [name]="rightIconName" (click)="onRightIconClick()">
        </ion-icon>
        <div *ngIf="!showRightIcon" class="headerIcon"></div>
      </div>
    </ion-toolbar>
  </ion-header>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<ion-footer *ngIf="showBottomNav">
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navigateTo('/home')">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTo('/search')">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTo('/saved')">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTo('/cart')">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTo('/account')">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>