<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ionContent" [fullscreen]="true" fullscreen>
  <main>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" action="">
      <h1 class="title">Forgot password</h1>
      <p>Enter your email for the verification process. <br>We will send 4 digit code to your email.</p>

      <div class="form-body">
        <div class="input-section">
          <ul>
            <li>
              <label for="">Email</label>
              <div class="inputWrapper"
                [ngStyle]="registerForm.valid ? {'border': '1px solid green'} : {'border': '1px solid #ccc'}" [ngStyle]="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['email'] 
                ? {'border': '1px solid red'} 
                : {'border': '1px solid #ccc'}">
                <input formControlName="email" type="email" placeholder="Enter your email adress">
                <svg *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['email']"
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="red"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="12" cy="12" r="10" />
                  <line x1="12" x2="12" y1="8" y2="12" />
                  <line x1="12" x2="12.01" y1="16" y2="16" />
                </svg>
                <svg *ngIf="registerForm.valid" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="green" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <circle cx="12" cy="12" r="10" />
                  <path d="m9 12 2 2 4-4" />
                </svg>
              </div>
              <p class="emailError"
                *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['email']">
                Please enter valid email address
              </p>
            </li>
          </ul>
        </div>

        <div class="button-section">
          <button [disabled]="!registerForm.valid" [ngClass]="registerForm.valid ? 'button-enabled' : 'button-disabled'"
            type="submit">Send Code</button>
        </div>
      </div>
    </form>
  </main>
</ion-content>