* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ion-content {
  --background: white;
}

main {
  padding: 0 20px;
  color: var(--primary);
}

section {
  padding: 20px 0 0 0;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section div {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}